@font-face {
    src: url(fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
    src: url(fonts/Gilroy-ExtraBold.otf);
}

. * {
    -fx-font-family: "Plus Jakarta Sans";
}

.border {
    -fx-background-color: #202225;
}

.background {
    -fx-background-color: #333540;
}

.middleground {
    -fx-background-color: #373840;
}

#title {
    -fx-font-family: "Gilroy ExtraBold";
    -fx-fill: #ffffff;
}

.subtext {
    -fx-font-family: "Gilroy ExtraBold";
    -fx-font-size: 14;
    -fx-fill: rgba(230, 230, 230, 0.9);
    -fx-text-fill: #e5e5e5;
}

.nav {
    -fx-background-color: #313338;
    -fx-font-size: 14;
    -fx-font-family: "Gilroy ExtraBold";
}

#menu {
    -fx-background-color:  #313338;
}

.chatButton {
    -fx-background-color: #2B2D31;
    -fx-border-radius: 5;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-min-height: 38px;
    -fx-min-width: 200px;
}

.text-field, .password-field {
    -fx-prompt-text-fill: #999999;
    -fx-text-fill: #e5e5e5;
    -fx-highlight-text-fill: #e5e5e5;
    -fx-font-size: 12;
    -fx-background-color: #43454d;
    -fx-border-radius: 5;
    -jfx-focus-color: #776cc9;
    -jfx-unfocus-color: #4d4d4d;
}

.chatScreen {
    -fx-background-color: #3D3F46;
    -fx-background: #3D3F46;
    -fx-border-color: #3D3F46;
}

.text {
    -fx-font-family: "Gilroy ExtraBold";
    -fx-font-size: 14;
}

.chatButtonsContainer {
    -fx-background-color: #313338;
    -fx-fill: #ffffff;
    -fx-text-fill: #ffffff;
}

.terug {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-text-fill: rgba(0, 0, 15, 0.9);
}

/*
.questionarea {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, transparent, #2B2D31);
}*/
