@font-face {  src: url(fonts/PlusJakartaSans-VariableFont_wght.ttf);  }
@font-face {  src: url(fonts/Gilroy-ExtraBold.otf);  }

.root * {
    -fx-font-family: "Plus Jakarta Sans";
}

#title {
    -fx-font-family: "Gilroy ExtraBold";
    -fx-font-size: 36;
}

.text-field, .password-field {
    -fx-prompt-text-fill: #999999;
    -fx-text-fill: #e5e5e5;
    -fx-highlight-text-fill: #e5e5e5;
    -fx-font-size: 14;
}

.text {
    -fx-font-family: "Gilroy ExtraBold";
    -fx-font-size: 14;
}

.button * {
    -fx-font-family: "Plus Jakarta Sans";
}

.jfx-button * {
    -fx-font-family: "Gilroy ExtraBold";
}