@font-face {  src: url(fonts/PlusJakartaSans-VariableFont_wght.ttf);  }
@font-face {  src: url(fonts/Gilroy-ExtraBold.otf);  }

.root * {
    -fx-font-family: "Plus Jakarta Sans";
    -fx-font-size: 14;
}

#title {
    -fx-font-family: "Gilroy ExtraBold";
    -fx-font-size: 36;
}

.text {
    -fx-font-family: "Gilroy ExtraBold";
}